// ############################################ \\
//                FONT VARIABLES                \\
// ############################################ \\

$main-font-size: 15px;
$main-font-family: "Inter", sans-serif;
$bold-font: 700;
$normal-font: 400;

// ############################################ \\
//                COLOR VARIABLES               \\
// ############################################ \\

$container-bg: hsl(0, 0%, 100%);
$background: hsl(212, 45%, 89%);
$alternate-font-color: hsl(220, 15%, 55%);
$main-font-color: hsl(218, 44%, 22%);

// ############################################ \\
//           BREAKPOINT VARIABLES               \\
// ############################################ \\

$TABLET: 768px;
$DESKTOP: 1440px;
